<div class="bio_box" style="margin-bottom:1.2em;">
  <div class="first_block">
    <img src="/damico.jpg" alt="propic" style="margin-top:0px; padding:0px 10px;">
    <div style="padding: 2px 10px; text-align:left">
      {{ if site.Data.contacts.home }}
      <!-- per cambiare colore a un vettoriale caricato come immagine: `filter: brightness(10)` -->
        <p style="margin:0;"><img src="/social/home.svg" width="14pt" class="small-svg"> &nbsp;<span style="font-size:12pt">: {{ site.Data.contacts.home }}</span></p>
      {{ end }}
      {{ if site.Data.contacts.mail }}
        <p style="margin-bottom:0;"><img src="/social/email.svg" width="14pt" class="small-svg"> &nbsp;<span style="font-size:12pt">: <a href="mailto:{{ site.Data.contacts.mail }}">{{ site.Data.contacts.mail }}</a></span></p>
      {{ end }}
      {{ if site.Data.contacts.phone }}
        <p style="margin-bottom:0;"><img src="/social/phone.svg" width="14pt" class="small-svg"> &nbsp;<span style="font-size:12pt">: <a href="tel:{{ site.Data.contacts.phone }}">{{ site.Data.contacts.phone }}</a></span></p>
      {{ end }}
      {{ if and (site.Data.contacts.social.github_name) (site.Data.contacts.social.github) }}
        <p style="margin-bottom:0;"><img src="/social/github.svg" width="14pt" class="small-svg"> &nbsp;<span style="font-size:12pt">: <a href="{{ site.Data.contacts.social.github }}" target="_blank">{{ site.Data.contacts.social.github_name }}</a></span></p>
      {{ end }}
      {{ if and (site.Data.contacts.social.telegram_name) (site.Data.contacts.social.telegram) }}
        <p style="margin-bottom:0;"><img src="/social/telegram.svg" width="14pt" class="small-svg"> &nbsp;<span style="font-size:12pt">: <a href="{{ site.Data.contacts.social.telegram }}" target="_blank">{{ site.Data.contacts.social.telegram_name }}</a></span></p>
      {{ end }}
      {{ if and (site.Data.contacts.social.linkedin_name) (site.Data.contacts.social.linkedin) }}
        <p style="margin-bottom:0;"><img src="/social/linkedin.svg" width="14pt" class="small-svg"> &nbsp;<span style="font-size:12pt">: <a href="{{ site.Data.contacts.social.linkedin }}" target="_blank">{{ site.Data.contacts.social.linkedin_name }}</a></span></p>
      {{ end }}
    </div>
  </div>

  <div class="second_block" style="border: 2px solid grey; border-radius: 5px; padding: 0px 20px;">
    {{ $data := index site.Data site.Language.Lang }}
      <h2>{{ $data.bio.header }}</h2>
      {{ range $data.bio.lines }}
        <p>{{ . }}</p>
      {{ end }}
  </div>
</div>
