{{- define "main" }}
<!-- <div class="not-found"><span>404</span>
  <p>Questa non è la pagina che state cercando. <a href="/">Ora siete liberi di proseguire.</a></p>
  <p><em>This isn't the page you're looking for. <a href="/">You can go about your business.</a></em></p>
</div> -->

<div align="center" class="not-found">
  404
  <p>Questa non è la pagina che state cercando. <a href="/">Ora siete liberi di proseguire.</a></p>
  <p><em>This isn't the page you're looking for. <a href="/">You can go about your business.</a></em></p>
</div>

{{- end }}{{/* end main */ -}}
