/* .not-found {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    font-size: 160px;
    font-weight: 700;
} */

.not-found {
  align-items: center;
  justify-content: center;
  height: 90%;
  font-size: 160px;
  font-weight: 700;
}

.not-found p {
  font-size: 16pt;
  font-weight: normal;
}

.not-found a {
  text-decoration: underline;
}
