.bio_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* background: red; */
}

.first_block {
    width: 35%;
    display: inline-block;
    text-align: left;
    /* background-color: green; */
}

.second_block {
    width: 65%;
    display: inline-block;
    text-align: justify;
    /* background-color: blue; */
}

/* .third {
    width: 25%;
    display: inline-block;
    background-color: yellow;
} */

@media screen and (max-width: 600px) {

    .first_block,
    .second_block {
        width: 100%;
    }
}
